body, h1,h2,h3,h4,h5,h6,p {
    font-family: "Raleway", sans-serif;
}
.w3-row-padding img {margin-bottom: 12px}
.w3-sidebar {width: 120px;background: #235ebd !important;}
#main {margin-left: 120px}
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
a {text-decoration: none;}
body {
    background: #000000 !important;
    color: #235ebd;
}
#myNavbar {
    background: #235ebd;
    color:black;
}
.opac {
    opacity: 0.6;
    width: 100%;
}
.pj-line {
    height: 1px;
    border-width:0;
    color:#235ebd;
    background-color:#235ebd
}
.margin-bottom{
    margin-bottom: 5px;
}
